.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
  height: 40px;
}

#trybewarts-header-title {
  color: white;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

.div-name-lastname {
  display: flex;
  justify-content: space-between;
}

#trybewarts-forms-logo {
  height: 500px;
}

#label-family {
  display: flex;
  flex-direction: column;
}

#second-section {
  display: flex;
}

#rate {
  display: flex;
}
